doctype html
html
	head
		title= `${title}`
		include styles

	body
	
		include topBar
		
		div.container-fluid

			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			block content
			
		include bottomBar
	
		include scripts
		
